<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New Job</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Mmedara Josiah">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.6/js/utils.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'jobs/css/bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'jobs/css/new_job.css' %}">
        <script src="{% static 'jobs/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'jobs/js/new_job.js' %}"></script>
    </head>
    <body>
        <div class="position-relative container-fluid">
            {% if user %}
                <div class="row">
                    <div class="mb-8 py-8 pt-7 px-10">
                        <div class="d-flex justify-content-between align-items-center pt-4">
                            <div class="">
                                <h3>Hello {{user.first_name}}! Create a job!</h3>
                            </div>
                            <div class="d-flex justify-content-end align-items-end">
                                <a class="link-primary fw-bold" id="logout" style="color: blue;" href="{% url 'jobs:logout' %}" data-toggle="modal" data-target="#logoutModal">Logout</a>
                                <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                                                <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to logout?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" id="no" data-dismiss="modal">No</button>
                                                <a class="btn btn-danger" href="#" id="yes">Yes</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border border-dark py-8 px-10">
                            <form action="{% url 'jobs:process_new_job' %}" method="post" id="new_job_form">
                                {% csrf_token %}
                                <div class="row py-lg-16">
                                    <div class="form-group d-flex justify-content-center align-items-center mb-6">
                                        <div class="" style="width: 110px; height: 50px;">
                                            <label class="me-4 align-top" for="title">Title:</label>
                                        </div>
                                        <div class="" style="height: 80px; width: 300px;">
                                            <input class="form-control border border-dark" type="text" name="title" id="title">
                                            {%if messages%}
                                                {%for message in messages%}
                                                    {% if 'title' in message.extra_tags %}
                                                        <small style="color: red;" class="{{message.tags}}">{{message}}</small>
                                                    {% endif %}
                                                {%endfor%}
                                            {%endif%}
                                        </div>
                                    </div>
                                    <div class="form-group d-flex justify-content-center align-items-center mb-6">
                                        <div class="" style="width: 110px; height: 50px;">
                                            <label class="me-4" for="description">Description:</label>
                                        </div>
                                        <div class="" style="height: 80px; width: 300px;">
                                            <input class="form-control border border-dark" type="text" name="description" id="description">
                                            {%if messages%}
                                                {%for message in messages%}
                                                    {% if 'description' in message.extra_tags %}
                                                        <small style="color: red;" class="{{message.tags}}">{{message}}</small>
                                                    {% endif %}
                                                {%endfor%}
                                            {%endif%}
                                        </div>
                                    </div>
                                    <div class="form-group d-flex justify-content-center align-items-center mb-6">
                                        <div class="" style="width: 110px; height: 50px;">
                                            <label class="me-4" for="location">Location:</label>
                                        </div>
                                        <div class="" style="height: 80px; width: 300px;">
                                            <input class="form-control border border-dark" type="text" name="location" id="location">
                                            {%if messages%}
                                                {%for message in messages%}
                                                    {% if 'location' in message.extra_tags %}
                                                        <small style="color: red;" class="{{message.tags}}">{{message}}</small>
                                                    {% endif %}
                                                {%endfor%}
                                            {%endif%}
                                        </div>
                                    </div>
                                    <div class="form-group d-flex justify-content-center align-items-center mb-6">
                                        <div class="" style="width: 110px; height: 50px;">
                                            <label class="me-4 align-top" for="category">Category:</label>
                                        </div>
                                        <div class="" style="height: 200px; width: 300px;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="category" id="category_1" value="Pet Care" checked>
                                                <label class="form-check-label" for="category_1">Pet care</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="category" id="category_2" value="Garden">
                                                <label class="form-check-label" for="category_2">Garden</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="category" id="category_3" value="Electrician">
                                                <label class="form-check-label" for="category_3">Electrician</label>
                                            </div>
                                            <div class="form-check">
                                                <label for="category">Other:</label>
                                                <input class="form-control border border-dark" type="text" name="other_category" id="other_category">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex justify-content-center align-items-center mb-6">
                                        <a class="btn btn-secondary me-4" href="{% url 'jobs:dashboard' %}">Cancel</a>
                                        <input class="btn btn-success" type="submit" name="submit" id="submit" value="Submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </body>
</html>